<div class="section__container">
      <div class="section__header d-flex align-items-center mb-4">
        <mat-icon class="text-secondary section__icon">{{
          menu.icon
        }}</mat-icon>
        <span class="section__title fs-4 mx-2">{{ menu.name }}</span>
      </div>
      <div class="section__content row g-4">
       <!--  @if (menu.children) { @for( child of menu.children; track child.id) {
        <app-dashboard-section-card
          [menu]="child"
          [urlMenu]="menu.url"
          class="section__card col-12 col-md-6 col-lg-4 flex-grow-y-1"
        ></app-dashboard-section-card>
        } } @else {
        <app-dashboard-section-card
          [menu]="menu"
          class="section__card col-12 col-md-6 col-lg-4 flex-grow-y-1"
        ></app-dashboard-section-card>
        } -->
      </div>
    </div>
