* {
  font-family: Montserrat !important;
}

.card-header {
  display: flex;
  justify-content: left;
}

.card-header h4 {
  font: normal normal bold 22px/20px Montserrat;
  letter-spacing: 0.39px;
}
.text-title {
  font-size: 20px;
  font-weight: 400;
}
.report-container {
  background: white;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.row button {
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.row label {
  font-weight: bold;
  color: #333;
  min-width: 120px;
}

.row input[type="text"],
.row input[type="date"] {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th {
    background-color: rgba(243, 115, 33, 0.1);
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.text-title {
  font-size: 20px;
  font-weight: 400;
}

/* Responsive */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: flex-start;
  }

  .row label {
    min-width: unset;
  }
}