 * {
   font-family: Montserrat !important;
 }

 .report-container {
   background: white;
   padding: 20px 25px;
   border-radius: 12px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   max-width: 1000px;
   margin: auto;
 }

 .row {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   flex-wrap: wrap;
 }

 .row label {
   font-weight: bold;
   color: #333;
   min-width: 120px;
 }

 .row input[type="text"],
 .row input[type="date"] {
   padding: 8px 10px;
   border-radius: 6px;
   border: 1px solid #ccc;
   font-size: 14px;
 }

 /* Tabla */
 table {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 20px;
 }

 table th,
 table td {
   border: 1px solid #ccc;
   padding: 10px;
   text-align: center;
 }

 table th {
   background-color: #aaa6a3;
 }

 .card-header {
   background: #F37321 0% 0% no-repeat padding-box !important;
 }

    .marg_top_{
    margin-top: -19px;
   }

 /* Responsive */
 @media (max-width: 768px) {
   .row {
     flex-direction: column;
     align-items: flex-start;
   }

   .row label {
     min-width: unset;
   }
   .marg_top_{
    margin-top: 0px;
   }
         .component-header {
      width: 90%;
      margin: 10px 3px 10px 3px;
    }

 }