<div class="card-header text-white header-modal">
  <h2 class="mb-0" style="text-align: center;">ACTUALIZACIÓN DE CONTRASEÑA</h2>
</div>
<div class="container-login">
  <!-- <button matButton matStepperNext>Next</button> -->
  <mat-stepper #stepper [linear]="true">
    <mat-step [stepControl]="formCorreo" errorMessage="Name is required.">
      <p>Es necesario que ingrese su correo para enviar la clave para la actualización de su contraseña</p>
      <form [formGroup]="formCorreo">
        <mat-form-field appearance="outline" class="w-100 w-md-75 w-lg-50">
          <mat-label>Ingrese correo</mat-label>
          <input matInput class="p-lg-0 input-md-height" formControlName="correo" placeholder="correo" />
           <mat-error *ngIf="correoControl.hasError('required') && correoControl.touched">
            El correo es obligatorio
          </mat-error>
        </mat-form-field>
        <div class="container-botones">
<!--           <div class="col-md-6">
            <button class="btn-custom" matStepperNext>Siguiente</button>
          </div> -->
          <div class="col-md-6">
            <button type="button" class="btn-custom" (click)="sendCorreo()">Enviar</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formClaveOtp" 
    errorMessage="Name is required.">
      <p>Es necesario que ingrese clave de 4 dígitos que se envió a su correo</p>
      <form [formGroup]="formClaveOtp">
        <mat-form-field appearance="outline" class="w-100 w-md-75 w-lg-50">
          <mat-label>Ingre la clave</mat-label>
          <input matInput class="p-lg-0 input-md-height" formControlName="clave" placeholder="Ingrese la clave" />
          <mat-error *ngIf="claveOtp.hasError('required') && claveOtp.touched">
            La clave OTP es obligatoria
          </mat-error>
        </mat-form-field>
        <div class="container-botones">
          <div class="col-md-6">
            <button type="button" class="btn-custom" (click)="veryOtp()">Enviar</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [editable]="updatePasswordForm" errorMessage="Address is required.">
      <p>Ingrese su nueva contraseña</p>
      <form [formGroup]="updatePasswordForm">
        <mat-form-field appearance="outline" class="w-100 w-md-75 w-lg-50 py-1">
          <mat-label>Nuevo Password</mat-label>
          <input matInput class="p-lg-0 input-md-height" [type]="hidePassword() ? 'password' : 'text'"
            formControlName="password" placeholder="password" />
          <button mat-icon-button matSuffix (click)="clickEventPassword($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword()">
            <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordControl.hasError('required') && passwordControl.touched">
            La contraseña es obligatoria.
          </mat-error>
          <mat-error *ngIf="passwordControl.hasError('minlength') && passwordControl.touched">
            Debe tener al menos 8 caracteres (actual: {{ passwordControl.errors?.['minlength']?.actualLength }}).
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 w-md-75 w-lg-50 py-3">
          <mat-label>Confirmar Password</mat-label>
          <input matInput class="p-lg-0" [type]="hidePasswordConfirm() ? 'password' : 'text'"
            formControlName="passwordConfirm" placeholder="Confirmar Password" />
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event, 'confirm')"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordConfirm()">
            <mat-icon>{{ hidePasswordConfirm() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <!-- VALIDACIÓN DE NO COINCIDENCIA (passwordsMismatch) -->
          <mat-error class="text-danger"
            *ngIf="passwordConfirmControl.hasError('passwordsMismatch') && passwordConfirmControl.touched">
            Las contraseñas no coinciden.
          </mat-error>
          <!-- ERROR REQUERIDO ESTÁNDAR -->
          <mat-error *ngIf="passwordConfirmControl.hasError('required') && passwordConfirmControl.touched">
            La confirmación es obligatoria.
          </mat-error>
          <mat-error *ngIf="passwordConfirmControl.hasError('minlength') && passwordConfirmControl.touched">
            Debe tener al menos 8 caracteres (actual: {{ passwordConfirmControl.errors?.['minlength']?.actualLength }}).
          </mat-error>
        </mat-form-field>
        <div class="container-botones py-2">
          <div class="col-md-6">
            <button type="button" class="btn-custom" (click)="updatePassword($event)">Actualizar</button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-stepper>

</div>