<div class="card-header text-white"
  style="height: 60px;display: flex;justify-content: center;align-items: center;">
  <h2 class="mb-0" style="text-align: center;">ACTUALIZACIÓN DE CONTRASEÑA INICIAL</h2>
</div>
<div class="container-login">
  <div class="text-info">
    <small>Bienvenido, por favor, actualiza tu contraseña para acceder al portal.</small>
  </div>
  <form [formGroup]="updatePasswordForm">
    <mat-form-field appearance="outline" class="w-100 w-md-75 w-lg-50">
      <mat-label>Password</mat-label>
      <input matInput class="p-lg-0 input-md-height" [type]="hidePassword() ? 'password' : 'text'"
        formControlName="password" placeholder="Mínimo 8 caracteres" />
      <button mat-icon-button matSuffix (click)="clickEventPassword($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword()">
        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      <!-- ERROR REQUERIDO ESTÁNDAR -->
      <mat-error *ngIf="passwordControl.hasError('required') && passwordControl.touched">
        La contraseña es obligatoria.
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('minlength') && passwordControl.touched">
        Debe tener al menos 8 caracteres (actual: {{ passwordControl.errors?.['minlength']?.actualLength }}).
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 w-md-75 w-lg-50 py-4">
      <mat-label>Confirmar Password</mat-label>
      <input matInput class="p-lg-0" [type]="hidePasswordConfirm() ? 'password' : 'text'"
        formControlName="passwordConfirm" placeholder="Mínimo 8 caracteres" />
      <button mat-icon-button matSuffix (click)="clickEventPasswordConfirm($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePasswordConfirm()">
        <mat-icon>{{ hidePasswordConfirm() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <!-- VALIDACIÓN DE NO COINCIDENCIA (passwordsMismatch) -->
      <mat-error class="text-danger"
        *ngIf="passwordConfirmControl.hasError('passwordsMismatch') && passwordConfirmControl.touched">
        Las contraseñas no coinciden.
      </mat-error>
      <!-- ERROR REQUERIDO ESTÁNDAR -->
      <mat-error *ngIf="passwordConfirmControl.hasError('required') && passwordConfirmControl.touched">
        La confirmación es obligatoria.
      </mat-error>
       <mat-error *ngIf="passwordConfirmControl.hasError('minlength') && passwordConfirmControl.touched">
        Debe tener al menos 8 caracteres (actual: {{ passwordConfirmControl.errors?.['minlength']?.actualLength }}).
      </mat-error>
    </mat-form-field>
    <div class="container-botones py-5">
      <div class="col-md-6">
        <button type="button" class="btn-custom" mat-dialog-close="true">Cancelar</button>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn-custom" (click)="updatePassword()">Registrar</button>
      </div>
    </div>
  </form>
</div>