 /*  *{
  font-family: Montserrat !important;
} */
 .row {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   flex-wrap: wrap;
 }

 .text-info {
   padding-bottom: 15px;
 }

 .text-info p {
   font-family: Montserrat !important;
   color: black;
   font-size: 1.1em;
 }

 .card-header {
   background: #F37321 0% 0% no-repeat padding-box !important;
   padding: 20px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .btn-login {
   background: #F37321 0% 0% no-repeat padding-box;
   box-shadow: 4px 8px 20px #1F1F1F1A;
   border-radius: 2px;
   opacity: 1;
   border: none;
   color: white;
 }

 .container-login {
   height: auto;
   width: 100%;
   padding: 20px;
 }

 .link-olvide-password {
   text-align: center;
   font: normal normal medium 14px/16px Montserrat;
   letter-spacing: 0.56px;
   color: #F37321;
   opacity: 1;
 }

 .container-botones {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 20px;
   padding-top: 10px;
   text-align: center;
 }

 .container-botones button {
   border: none;
   width: 120px !important;
 }

 .contaner__inputs {
   display: flex;
   flex-direction: column;
   height: 80px;
 }

 @media (max-width: 1400px) {
   mat-form-field input.mat-input-element {
     font-size: 18px;
     height: 15px !important;
   }

   mat-form-field .mat-mdc-floating-label {
     font-size: 16px;
     height: 15px !important;
   }

   .input-md-height {
     height: 15px !important;
     padding-top: 5px;
     /* Adjust padding for alignment */
     padding-bottom: 5px;
   }

   .container-login {
     height: 100%;
   }

   .link-olvide-password {
     font: normal normal medium 20px/16px Montserrat;
     letter-spacing: 0.56px;
   }

   .contaner__inputs {
     display: flex;
     flex-direction: column;
     height: 70px;
   }
 }

 /* Pantallas medianas y grandes (tablet/laptop) */
 @media (max-width: 768px) {
   mat-form-field input.mat-input-element {
     font-size: 16px !important;
     height: 10px !important;
   }

   mat-form-field .mat-mdc-floating-label {
     font-size: 14px;
   }

   .input-md-height {
     height: 15px !important;
   }

   .btn-login {
     background: #F37321 0% 0% no-repeat padding-box;
     box-shadow: 4px 8px 20px #1F1F1F1A;
     border-radius: 2px;
     opacity: 1;
     border: none;
     color: white;
   }

   .link-olvide-password {
     font: normal normal normal 16px/0px Montserrat;
     margin: 10px 0px 30px 0px;
   }

   .container-login {
     height: 50%;
   }

   .contaner__inputs {
     display: flex;
     flex-direction: column;
     height: 80px;
   }
   .card-header{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
  .text-white h2{
    text-align: center;
    font-size: 1.2em;
  }
  .container-login {
   padding: 3px;
 }
  .container-botones{
    display: flex;
    width:100%;
    margin-top: 15px;
    gap: 2px;
    padding: 0px;
   } 

 }


 .code-container {
   display: flex;
   justify-content: center;
   gap: 10px;
   /* Espacio entre los cuadros */
 }

 .code-input {
   width: 40px;
   height: 50px;
   text-align: center;
   font-size: 24px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
 }

 .code-input:focus {
   border-color: #007bff;
   /* Color al enfocar */
   box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
   outline: none;
   /* Elimina el contorno predeterminado del navegador */
 }